<!doctype html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>AngularJS Workshop</title>
  <link rel="stylesheet" href="bower_components/reveal.js/css/reveal.min.css">
  <link rel="stylesheet" href="bower_components/reveal.js/css/theme/night.css">
  <link rel="stylesheet" href="bower_components/reveal.js/lib/css/zenburn.css">

  <link rel="stylesheet" href="css/customTheme.css">

</head>
<body>
  <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->
  <div class="reveal">
    <div class="slides">

      <section data-markdown>
        # AngularJS Workshop

        Google got your back
      </section>

      <section>
        <h2>Follow along</h2>

        <a href="http://niklas-r.github.io/AngularJS-workshop">http://niklas-r.github.io/AngularJS-workshop</a>

        <aside class="notes" data-markdown>
          Följ gärna med. På så vis kan du klicka på länkar i presentationen.
        </aside>
      </section>

      <section>
        <h3>What to expect?</h3>

        <p>Throughout this workshop we'll be switching between presentation and writing code.</p>

        <p>At the end of this workshop you should have written a variant of the famous [Todo Manager](http://todomvc.com/) and feel confindent enough to use Angular in a real project.</p>

        <aside class="notes" data-markdown>
          Blandat slides och kodning.
          Syfte med denna workshop är att du ska kunna ta AngularJS uppdrag.
        </aside>
      </section>

      <section>
        <h3>Why?</h3>

        <p>AngularJS is an <a href="https://plus.google.com/+AngularJS/posts/aZNVhj355G2">MV*</a> framework that is ideal for use when building client-side single-page apps.</p>

        <p>It's also great for creating encapsulated components embedded in a web page.</p>

        <aside class="notes" data-markdown>
          Varför Angular?

          Perfekt för SPA.

          Också bra för inkapslade client-side komponenter. Ungefär som web components.
        </aside>
      </section>

      <section>
        <h3>When?</h3>

        <p>If you're finding yourself building a SPA, AngularJS will be perfect for you. Gmail, Google Docs, Twitter, and Facebook all fit into the AngularJS sweet spot.</p>

        <aside class="notes" data-markdown>
          När ska du använda Angular?

          Som sagt, SPA, eller inbäddade client-side komponenter.

          Stora siter är vanligtvis inte full-fjädrade SPA's utan dom kör mer på client-side komponenter. Gmails "skicka mail"-ruta, Facebooks chat och bildvisare.
        </aside>
      </section>

      <section>
        <h3>Don't use Angular</h3>

        <p>...if you're doing game development or manipulating the DOM *a lot*..</p>

        <aside class="notes" data-markdown>
          Det finns ramverk som är specialanpassade för spelutveckling, Angular är inte ett utav dom.

          Angular har ett ganska begränsat stöd för animering. Du kan göra de vanligaste animationerna som man behöver i en web app men behöver du göra advancerad animering med t.ex keyframing m.m. så passar t.ex GreenSock bättre för det.
        </aside>
      </section>

      <section>

        <section>

          <h2>Getting started</h2>

          <pre><code data-trim data-noescape>
&lt;!doctype html&gt;
&lt;html <span class="highlight">ng-app</span>&gt;
&lt;head&gt;
  &lt;meta charset="UTF-8"&gt;
  &lt;title&gt;My Angular App&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;div&gt;
    &lt;input type="text" <span class="highlight">ng-model="name"</span> placeholder="Please enter your name"&gt;
    &lt;h1&gt;Hello, <span class="highlight">{{ name }}</span>!&lt;/h1&gt;
  &lt;/div&gt;
  &lt;script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
          </code></pre>

          <aside class="notes" data-markdown>
            Vad gör vi här?

            Vi länkar in Angular.

            Start Angular genom ng-app direktivet.

            Binder värdet i input-fältet till modellen "name".

            Visar värdet från modellen "name" genom dubbla {{}}, ett så kallat expression. Ett Angular expression är i princip JavaScript kod med några skillnader.
          </aside>
        </section>

        <section>

          <h2>Modules</h2>

          <pre><code data-trim data-noescape data-filename="index.html">
&lt;!doctype html&gt;
&lt;html ng-app="<span class="highlight">myApp</span>"&gt;
&lt;head&gt;
  &lt;meta charset="UTF-8"&gt;
  &lt;title&gt;My Angular App&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;div&gt;
    &lt;input type="text" ng-model="name" placeholder="Please enter your name"&gt;
    &lt;h1&gt;Hello, {{ name }}!&lt;/h1&gt;
  &lt;/div&gt;
  &lt;script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"&gt;&lt;/script&gt;
  &lt;script src="myapp.js"&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;
          </code></pre>

          <pre><code data-trim data-noescape data-filename="myapp.js">
var app = angular.module('myApp', []);
          </code></pre>

          <aside class="notes" data-markdown>
            Här har vi namngett vår app.

            Genom att namnge vår app kan vi skapa en ny Angular modul och binda den till vilket DOM-element vi vill.

            angular.module funktionen tar emot två parametrar, ett modul-namn och en lista med dependencies. Just nu har vi inga dependencies och därför är den tom, men vi kan ändå inte utesluta array för så skapar inte Angular någon ny modul.
          </aside>
        </section>

        <section>

          <pre><code data-trim>
<h2>Outside of the Angular realm</h2>
<div ng-app="embeddedApp">
  <h3>I'm an "embedded" Angular app!</h3>
</div>
          </code></pre>

          <aside class="notes" data-markdown>
            Ett exempel på hur det skulle kunna se ut med en inbäddad komponent.
          </aside>
        </section>

        <section>
          <h2>Make use of your module</h2>

          <pre><code data-trim data-noescape data-filename="index.html">
&lt;div ng-app="myApp"&gt;
  &lt;p&gt;{{ myName }}&lt;/p&gt;
&lt;/div&gt;
          </code></pre>

          <pre><code data-trim data-noescape data-filename="myapp.js">
var app = angular.module('myApp', []);

app.run(function ($rootScope) {
  $rootScope.myName = 'Joe';
});
          </code></pre>

          <aside class="notes" data-markdown>
            Här har vi skapat en ny modul och lagt till en ny modell på $rootScopet.

            På det här sättet kan vi skicka data mellan vår HTML och JS kod.

            Vi kommer nu prata med om scopes.
          </aside>
        </section>

      </section>

      <section>

        <section>
          <h2>Scopes</h2>

          <p>A scope is what ties the view (a DOM element) to the controller (your JS code).</p>

          <p>Every Angular app is created with a <code>$rootScope</code>.</p>

          <aside class="notes" data-markdown>
            Scopes binder samma din vy (HTML) med din controller (JS).

            Alla Angular appar skapas med ett $rootScope.
          </aside>
        </section>

        <section>

          <p>It sounds complicated, but really a scope is just a JavaScript object which you bind properties and methods to, to make them available in your HTML.</p>

          <pre><code data-trim data-noescape data-filename="index.html">
&lt;button type="button" <span class="highlight">ng-click="sayHi()"</span>&gt;Hello&lt;/button&gt;
          </code></pre>

          <pre><code data-trim data-filename="myapp.js">
app.run(function ($rootScope) {
  var notAvailableInView = 123;

  $rootScope.sayHi = function () {
    alert("Hi!");
  };
});
          </code></pre>

          <aside class="notes" data-markdown>
            Det kanske låter komplicerat men ett scope är egentligen bara ett JS-objekt som du sätter metoder och data på så det kan bli tillgängligt i din HTML.
          </aside>

        </section>

        <section>
          <h3>Controllers</h3>

          <p>To create a new <code>$scope</code> explicitly we create a new controller.</p>

          <pre><code data-trim data-filename="index.html" data-noescape>
&lt;div <span class="highlight">ng-controller="MyCtrl"</span>&gt;
  &lt;p&gt;{{ user.name }}&lt;/p&gt;
&lt;/div&gt;
          </code></pre>

          <pre><code data-trim data-filename="myapp.js">
app.controller('MyCtrl', function ($scope) {
  $scope.user = {
    name: 'Joe'
  };
});
          </code></pre>

          <aside class="notes" data-markdown>
            Hittills har vi bara använt oss av $rootScope.

            Det är bad practice att binda allt för mycket till $rootScope. Angulars data-binding har en tendens att bli seg på stora objekt. Dessutom blir det svårläslig kod.

            Skapa istället en controller och gör den tillgänglig i din vy med ng-controller direktivet.
          </aside>
        </section>

        <section>
          <h3>Scope inheritance</h3>

          <p>Scopes inherit prototypically. This means that everything available on the parent scope will be available on all of it's child scopes.</p>

          <img src="images/scope01.png" alt="Scope inheritance">

          <aside class="notes" data-markdown>
            Scopes fungerar precis som objekt i vanlig JavaScript och äver från varandra prototypiskt.

            Detta betyder att all data på ett parent scope är tillgänglig på dess child scopes.
          </aside>
        </section>

        <section>

          <pre><code data-trim data-filename="index.html">
<div ng-controller="ParentCtrl">
  <p>{{ user.name }}</p>

  <div ng-controller="ChildCtrl">
    <button type="button" ng-click="greetUser(user)">Say hello!</button>
  </div>
</div>
          </code></pre>

          <pre><code data-trim data-filename="myapp.js">
app.controller('ParentCtrl', function ( $scope ) {
  $scope.user = {
    name: 'Joe'
  };
});

app.controller('ChildCtrl', function ( $scope ) {
  $scope.greetUser = function (user) {
    alert('Hello, ' + user.name + '!');
  };
});
          </code></pre>

          <aside class="notes" data-markdown>
            Här kan vi se hur `user` deklareras i ParentCtrl och genom prototypisk arv är `user` även tillgänglig i ChildCtrl.
          </aside>
        </section>

      </section>

    <div>
  </div>

  <script src="bower_components/reveal.js/lib/js/head.min.js"></script>
  <script src="bower_components/reveal.js/js/reveal.min.js"></script>

  <script>
  /*global Reveal*/
  Reveal.initialize({
    transition: 'linear',
    backgroundTransition: 'slide',
    // Push each slide change to the browser history
    history:true,
    dependencies: [
      // Cross-browser shim that fully implements classList - https://github.com/eligrey/classList.js/
      { src: 'bower_components/reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },

      // Interpret Markdown in <section> elements
      { src: 'bower_components/reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      { src: 'bower_components/reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },

      // Syntax highlight for <code> elements
      { src: 'bower_components/reveal.js/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },

      // Zoom in and out with Alt+click
      // { src: 'bower_components/reveal.js/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },

      // Speaker notes
      { src: 'bower_components/reveal.js/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } },

      // Remote control your reveal.js presentation using a touch device
      // { src: 'bower_components/reveal.js/plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
    ]
  });
  </script>
</body>
</html>